{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
<script type="text/javascript">
	// Отправка пользователя в оффлайн режим перед закритие страницы
    $(window).on("beforeunload", function() { 
    	$.ajax({
			type: "POST",
	    	url: "/go_offline/",
		})
	    // return inFormOrLink ? "Do you really want to close?" : null; 
	})
	// Отправка пользователя в онлайн режим
	$.ajax({
		type: "POST",
    	url: "/go_online/",
    	data: {username: '{{ request.user.username }}'},
	});
	// window.onbeforeunload = function () {
	// 	$.ajax({
	// 		type: "POST",
	//     	url: "/go_offline/",
	//     	data: {username: '{{ request.user.username }}'},
	// 	})
 //    }
 //    var inFormOrLink;
	// $('a').on('click', function() { inFormOrLink = true; });
	// $('form').on('submit', function() { inFormOrLink = true; });
    // Подулючение peer соединение для отправки уведомление или результатов
	var peer = new Peer({key: 'o71cqx3d5gagiudi'});
	var peer_id;
	// Функция strartPlay отвечает за отправку уведомление если второй игрок свободен
	function strartPlay(e){
			var username = e
        	$.ajax({type: "POST",
                url: "/check_player/",
                data: {player: e, username:'{{ request.user.username }}'},
                success:function(result){
                	if(result['status'] == 'true'){
                		peer_id = result['peer_id']
	            		var conn = peer.connect(result['peer_id']);
						conn.on('open', function() {
						  // Send messages
						  conn.send({username:'{{ request.user.username }}', game_room: result['room_id'], peer_id: result['my_peer_id']});
						});
                	}else{
                		alert('{% trans "Игрок занет!" %}')
                		location.reload();
                	}
        	}
        });
    };
    // Получение данных из жругого соединение
    peer.on('connection', function(conn) {
	  conn.on('data', function(data){
	  	// Функция которое отвечает за принятие или отклонение предложении
	  	function AcceptFunc() {
			if (confirm('{% trans "Приглашение на игру от" %} '+data['username']) == true) {
    			conn = peer.connect(data['peer_id']);
				conn.on('open', function() {
				  	// Send messages
				  	conn.send({game_room: data['game_room'], peer_id: '', txt: 'Предложение принято!'});
				  	window.open("/game/"+data['game_room'], "_self")
				});
		    }else{
		    	conn = peer.connect(data['peer_id']);
				conn.on('open', function() {
				  	// Send messages
				  	conn.send({game_room: '', peer_id: '', txt:'Предложение отклонено!'});
				  	$.ajax({
						type: "POST",
				    	url: "/go_to_free/",
				    	data: {username: '{{ request.user.username }}'},
					})
				});
		    }
		}
	    if(data['txt'] === 'Предложение принято!'){
	    	alert('{% trans "Предложение принято!" %}')
	    	window.open("/game/"+data['game_room'], "_self")
	    }else if(data['txt'] === 'Предложение отклонено!'){
	    	alert('{% trans "Предложение отклонено!" %}')
	    	location.reload();
	    }else{
			AcceptFunc()
		}
	  });
	});
    // Создается peer_id для пользователя которое зашел. Peer_id для того что бы получать отправлять данные. Передаем в сервер через Ajax
	peer.on('open', function(id) {
		$.ajax({
			type: "POST",
	    	url: "/save_peer_id/",
	    	data: {username: '{{ request.user.username }}', peer_id: id},
		})
	});

</script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">{% trans 'Игра КрестикиНолики' %} |</a>
    <div class="collapse navbar-collapse" id="navbarColor01">
	    <ul class="navbar-nav mr-auto">
	        <li class="nav-item">
	          <!-- <a class="nav-link" href="#">About</a> -->
	        </li>
	    </ul>
	    <form action="{% url 'set_language' %}" method="post" style="margin-top: 1%; margin-left: 1%">
		  	{% csrf_token %}
		  	<input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
		  	<select name="language">
			    {% get_language_info_list for LANGUAGES as languages %}
			      	{% for language in languages %}
			        	<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
			          		{{ language.name_local }} ({{ language.code }})
			        	</option>
			      	{% endfor %}
		  	</select>
		  	<input type="submit" value="{% trans 'Изменить' %}" />
		</form>
    </div>
</nav>
<div class="col-md-11" style="margin-left: 5%">
	<div class="row" style="margin-left: 8%; margin-top: 4%">
		<!-- Список доступных игроков -->
		{% for player in players %}
			{% if player.user_info.username != request.user.username %}
				<div class="col-md-2 border border-success" style="background-color: rgba(134, 142, 150, 0.88); margin-left: 1%; margin-bottom: 1%">	
					<div style="margin-top: 5%; margin-bottom: 5%">
						<img class="rounded" alt="75x75" style="margin-left: 4%; width: 140px; height: 140px;" src="{{ player.profile_img.url }}" data-holder-rendered="true">
						<p style="text-align: center;"><strong>{% trans "Имя игрока" %}</strong></br><spam id="UserName">{{ player.user_info.username }}</spam></p>
						<a href="#" id="strartPlay" class="btn btn-primary" style="margin-left: 18%; width: 100px" onclick="strartPlay('{{ player.user_info.username }}')">{% trans "Играть!" %}</a>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>
{% endblock %}