{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">{% trans 'Игра КрестикиНолики' %} |</a>
    <div class="collapse navbar-collapse" id="navbarColor01">
	    <ul class="navbar-nav mr-auto">
	        <li class="nav-item">
	          <!-- <a class="nav-link" href="#">About</a> -->
	        </li>
	    </ul>
	    <form action="{% url 'set_language' %}" method="post" style="margin-top: 1%; margin-left: 1%">
		  	{% csrf_token %}
		  	<input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
		  	<select name="language">
			    {% get_language_info_list for LANGUAGES as languages %}
			      	{% for language in languages %}
			        	<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
			          		{{ language.name_local }} ({{ language.code }})
			        	</option>
			      	{% endfor %}
		  	</select>
		  	<input type="submit" value="{% trans 'Изменить' %}" />
		</form>
    </div>
</nav>
<div class="col-md-4" style="margin-left: 35%; margin-top: 12%">
	<div style="background: #f8f9fa; height: 100%">
		<h2 style="text-align: center;"><strong>{% trans 'КрестикиНолики' %}</strong> {% trans 'Логин' %}</h1>
		<form style="width: 90%; margin-left: 5%; margin-bottom: 2%; margin-top: 5%" method="post">
			{% csrf_token %}
			<div class="form-group">
				<label for="exampleInputEmail1">{% trans 'Имя пользователя' %}</label>
				<input type="text" class="form-control" placeholder="{% trans 'Имя пользователя' %}" name="username">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">{% trans 'Пароль' %}</label>
				<input type="password" class="form-control" id="exampleInputPassword1" placeholder="{% trans 'Пароль' %}" name="password">
			</div>
			<input type="submit" class="btn btn-primary" value="{% trans 'Логин' %}">
			<a href="{% url 'registration' %}" class="btn btn-primary" style="margin-left: 20px">{% trans 'Регистрация' %}</a>
		</form>
	</div>
</div>
{% endblock %}