{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">{% trans 'Игра КрестикиНолики' %} |</a>
    <div class="collapse navbar-collapse" id="navbarColor01">
	    <ul class="navbar-nav mr-auto">
	        <li class="nav-item">
	          <!-- <a class="nav-link" href="#">About</a> -->
	        </li>
	    </ul>
    </div>
</nav>
<div class="col-md-8" style="background-color: white; margin-top: 6%; margin-left: 17%; border-radius: 2; border: 2px solid CornflowerBlue;%">
	<h2 style="text-align: center; margin-top: 2%"><strong>{% trans 'КрестикиНолики' %}</strong> {% trans 'Регистроваться' %}</h1>
	<form class="col-md-8" style="width: 90%; margin-left: 17%; margin-bottom: 2%; margin-top: 3%;" method="post" action="/registration/" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form_user|bootstrap }}
		<p style="color: red">{% trans avatar_upload_error %}</p>
		<label class="control-label  " for="id_password"><strong>{% trans 'Аватар' %}:</strong></label>
		<label class="btn btn-info">
		    {% trans 'Выбрать фото' %} <input type="file" name="profile_img">
		</label></br>
		<input style="margin-left: 70%; margin-bottom: 5%" type="submit" class="btn btn-primary" value="{% trans 'Регистроваться' %}">
	</form>
</div>
{% endblock %}